Package: com.crazymind90.switchstyle
Name: Switch Style
Depends: mobilesubstrate
Version: 1.3
Architecture: iphoneos-arm
Description: Customize switches colors 
Maintainer: @CrazyMind90
Author: @CrazyMind90
Section: Tweaks
