Package: com.crazymind90.switchstyle
Name: Switch Style
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Customizer switch colors 
Maintainer: @CrazyMind90
Author: @CrazyMind90
Section: Tweaks
